@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.row-2 {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    position: relative;
}

h1 {
    font-weight: 700;
    line-height: 1.5;
}

p {
    line-height: 1.5;
}

.purple {
    color:rgb(100 21 255)
}

.about__bubble {
    pointer-events: none;
    position: absolute;
    left: -125px;
    bottom: 0px;
    height: 16rem;
    width: 16rem;
    opacity: 0.05;
}

.dark-blue {
    color: #243e63;
}

.grey {
    color: rgb(124 139 161);
}

.section-title {
    font-weight: 700;
    letter-spacing: 0.1rem;
    font-size: 15px;
    margin-bottom: 16px;
    color:rgb(100 21 255)
}

h2 {
    font-weight: 900;
    width: 100%;
    font-size: 3rem;
    letter-spacing: 0.025rem;
}

.p__description {
    margin-top: 20px;
    width: 100%;
    max-width: 36rem;
    font-weight: 500;
    line-height: 1.6;
    font-size: 1.1rem;
}

.white {
    color: white;
}

.full {
    height: 100%;
}

/* Landing */

.landing {
    animation: landing__fade-right 500ms ease-in-out
}

@keyframes landing__fade-right {
    0% {
        opacity: 0;
        transform: translateX(-100vw);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    margin-top: 32px;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    margin: 0 24px;
    border-bottom: 2px;
    padding-bottom: 4px;
    font-weight: 500;
    font-size: 0.875rem;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: rgb(100 21 255);
    width: 100%;
    bottom: -3px;
    right: 0;
    opacity: 0;
    transition: all 300ms ease;
}

.link__hover-effect:hover:after {
    opacity: 1;
    height: 2px
}

.nav__link--sign-up {
    background-color: rgb(100 21 255);
    border-radius: 9999px;
    padding: 12px 32px;
    color: white;
    margin: 0;
}

.nav__link:hover {
    transition: all 350ms ease;
    color: rgb(100 21 255);
}

.nav__link--sign-up:hover {
    background-color: rgb(71, 11, 189);
    color: white;
}

.nav__login {
    margin-left: 48px;
}

.logo__link {
    display: flex;
    align-items: center;
}

.logo__text {
    transition: all 350ms ease;
    font-size: 1.5rem;
    font-weight: 900;
}

.logo__link:hover .logo__text {
    color: rgb(100 21 255);
}

.logo__img {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.about {
    display: flex;
    padding: 96px 32px;
    height: calc(100vh - 72px);
    align-items: center;
}

.about__description {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

.about__img--wrapper {
    width: 60%;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

.about__description--title {
    font-size: 2.25rem;
}

.about__description--text {
    margin: 32px 0;
    font-size: 1rem;
}

.trusted-customers {
    margin-top: 80px;
}

.trusted-customers__text {
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: rgb(160 174 192);
}

.trusted-customers__img {
    padding-right: 64px;
    margin-top: 16px;
    max-width: 100%;
    opacity: 0.5;
}

.about__img {
    width: 100%;
    height: auto;
}

.about__input {
    max-width: 28rem;
    display: flex;
    text-align: center;
    position: relative;
}

.about__input--form {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-right: 12rem;
    padding-left: 2rem;
    width: 100%;
    border-radius: 9999px;
    border-width: 2px;
    font-weight: 500;
    border-color: rgb(226, 232, 240);
    border-style: solid;
    font-size: 100%;
    position: relative;
    transition: all 300ms ease;
    outline: none;
}

.about__input--form::placeholder {
    color: rgb(211, 218, 229)
}

.about__input--form:hover {
    border-color: rgb(171, 177, 185)
}

.about__input--form:focus {
    border-color: rgb(100 21 255);
}

.about__input--button {
    position: absolute;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 10rem;
    line-height: 1;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border-radius: 9999px;
    background-color: rgb(100 21 255);
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 700;
    font-size: 100%;
    margin-right: 0.5rem;
    color: rgb(247 250 252);
    cursor: pointer;
    border: 0;
    transition: all 300ms ease;
}

.about__input--button:hover {
    background-color: rgb(71, 11, 189);
}

/* Features */

.features__container {
    padding: 96px 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.features__services {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.service {
    width: calc(100%/3 - 70px);
    display: flex;
    padding: 32px 8px;
    margin: 0 35px;
}

.service__img--wrapper {
    flex-shrink: 0;
    text-align: center;
}

.service__img {
    max-width: 100%;
    padding: 1.4rem;
    border-radius: 9999px;
    text-align: center;
    border: solid rgb(226, 232, 240) 1px;
}

.service__description {
    margin-left: 16px;
    margin-top: 8px;
}

.service__description--title {
    font-weight: 700;
    font-size: 1.5rem;
}

.service__description--text {
    margin-top: 16px;
    line-height: 1.8;
    font-weight: 500;
}

.features__bubble {
    pointer-events: none;
    position: absolute;
    right: -100px;
    bottom: -1000px;
    width: 16rem;
    opacity: 0.25;
}

/* Quality Work */

.quality-work {
    margin: 104px 32px;
}

.quality-work__container {
    display: flex;
}

.quality-work__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 16px 0;
}

.quality-work__button {
    margin-top: 32px;
    width: 8rem;
    border-radius: 9999px;
    padding: 12px;
    color: white;
    background-color: rgb(100 21 255);
    border: none;
    font-weight: 700;
    transition: all 300ms ease;
}

.quality-work__button:hover {
    background-color: rgb(71, 11, 189);;
}

.quality-work__img--container {
    display: flex;
    width: 50%;
    margin-left: 50px;
    align-items: center;
}

.quality-work__img {
    border-radius: 0.25rem;
    border-width: 1px;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: solid;
    border-color: rgb(226, 232, 240);
}

.quality-work__dots {
    position: absolute;
    right: -40px;
    bottom: -40px;
    z-index: -10;
    height: 5rem;
    width: 5rem;
    fill: currentcolor;
    color: rgb(100 21 255);
}

.quality-work__img--wrapper {
    position: relative;
}

/* Steps */

.steps {
    margin: 208px 0;
}

.steps__container {
    display: flex;
    align-items: center;
}

.steps__img--wrapper {
    width: 50%;
    position: relative;
    padding: 0 16px;
}

.steps__description {
    width: 50%;
    margin-left: 64px;
}

.steps__img {
    max-width: 100%;
}

.steps__list {
    margin-top: 48px;
}

.step {
    display: flex;
    margin-top: 32px;
}

.step__number {
    margin-right: 24px;
    font-size: 2.2rem;
    font-weight: 700;
    color: rgb(203 213 224);
}

.step__description--text {
    margin-top: 16px;
    line-height: 2;
    max-width: 20rem;
    font-size: 0.875rem;
    font-weight: 500;
}

.step__name {
    font-size: 1.2rem;
}

.steps__dots {
    opacity: 0.15;
    position: absolute;
    right: 0px;
    bottom: -25%;
    z-index: -10;
    height: 50%;
    width: 50%;
    fill: currentcolor;
    color: rgb(100 21 255);
    left: 25%;
}

/* Values */

.values {
    margin: 208px 0;
}

.values__container {
    display: flex;
    padding: 16px;
}

.values__description {
    width: 50%;
}

.values__img--wrapper {
    width: 50%;
}

.values__img {
    max-width: 100%;
}

.values__wrapper {
    display: flex;
    margin-top: 32px;
}

.value__description {
    margin-top: 16px;
    max-width: 275px;
    margin-right: 20px;
}

.values__button {
    margin-top: 64px;
    border-radius: 9999px;
    padding: 0.875rem;
    width: 145px;
    border: none;
    background-color: rgb(100 21 255);
    color: white;
    font-weight: 700;
    transition: all 300ms ease;
}

.values__button:hover {
    background-color: rgb(71, 11, 189);;
}

.value__title {
    font-size: 1.3rem;
    margin-left: 8px;
}

.value__heading {
    display: flex;
    align-items: center;
}

.value__dollar--wrapper {
    background-color: rgb(154 230 180);
    flex-shrink: 0;
    padding: 0.5rem;
    text-align: center;
    border-radius: 9999px;
    border-width: 0px;
}

.value__dollar {
    color: rgb(39 103 73);
    height: 1.25rem;
}

.value__suitcase--wrapper {
    background-color: rgb(254 178 178);
    flex-shrink: 0;
    padding: 0.5rem;
    text-align: center;
    border-radius: 9999px;
    border-width: 0px;
}

.value__suitcase {
    color: rgb(155 44 44);
    height: 1.25rem;
}

/* Pricing */

.pricing {
    padding: 0 16px;
    margin-bottom: 104px;
}

.pricing__container {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.plans__text {
    margin-top: 20px;
    font-weight: 500;
    line-height: 1.6;
    font-size: 1.1rem;
    max-width: 600px;
}

.plans__title {
    font-weight: 700;
    letter-spacing: 0.1rem;
    font-size: 16px;
    margin-bottom: 16px;
    color:rgb(100 21 255)
}

.plans {
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
    width: 100%;

}

.plan {
    width: calc(100%/3 - 40px);
    border-radius: 10px;
    border: solid rgb(226, 232, 240) 1px;
    margin: 0 20px;
}

.plan__name {
    margin-top: 30px;
    margin-bottom: 24px;
    font-size: 20px;
}

.plan__price {
    font-weight: 700;
    margin-bottom: 16px;
}

.plan__billing-cycle {
    letter-spacing: 0.1rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.plan__horiz-line {
    background-color: rgb(124 139 161);
    opacity: 0.2;
}

.plan__audience {
    margin-top: 24px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.05rem;
}

.plan__detail {
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: 500;
}

.plan__button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}

.plan__button {
    border-radius: 9999px;
    padding: 16px;
    width: 200px;
    font-weight: 700;
    border: none;
    transition: all 300ms ease;
}

.plan__top-design {
    width: 100%;
    height: 7px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.plan__top-design--personal {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__top-design--enterprise {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__business {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan__button--personal {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__button--enterprise {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__button:hover {
    box-shadow: 0 10px 10px rgba(0,0,0,0.16);
    transform: translateY(-1px) translateX(1px);
    cursor: pointer;
}

.plan__button:focus {
    border: solid rgb(107, 165, 236) 3px;
}

/* Users */

.users {
    height: 320px;
    padding: 16px;
    margin: 175px 0;
}

.users__container {
    background-color: rgb(100 21 255);
    height: 100%;
    display: flex;
    border-radius: 10px;
    border: solid rgb(226, 232, 240) 1px;
    align-items: center;
    position: relative;
}

.users__description {
    font-weight: 700;
    font-size: 30px;
    max-width: 500px;
    margin-right: 7%;
    margin-left: 12%;
    z-index: 1;
}

.users__button--container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

.users__button {
    border-radius: 9999px;
    padding: 23px;
    width: 175px;
    border: none;
    font-weight: 700;
    margin-right: 7%;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 17px;
    z-index: 1;
}

.users__button:focus {
    border: solid rgb(107, 165, 236) 3px;
}

.users__button--get-started {
    background-color: rgb(245 101 101);
}

.users__button--get-started:hover {
    background-color: rgb(248, 54, 54);
}

.users__button--contact-us {
    background-color: rgb(100 21 255);
    border: solid rgba(255, 255, 255, 0.5) 1px;
}

.users__button--contact-us:hover {
    background-color: white;
    color: rgb(100 21 255);
}

.users__bubbles--container {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.users__right-bubble {
    position: absolute;
    height: 300px;
    width: 300px;
    bottom: -110px;
    left: -60px;
    color:rgb(71, 11, 189, 0.4);
}

.users__left-bubble {
    position: absolute;
    color:rgb(71, 11, 189, 0.4);
    height: 300px;
    width: 300px;
    right: -60px;
    top: -240px;
}

/* Footer */

.footer__container {
    padding: 16px;
}

.links__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__links--wrapper {
    margin-top: 72px;
}

footer {
    background-color: rgb(100 21 255);
}

.footer__links--title {
    color: white;
    margin-bottom: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer__links--list {
    display: flex;
    flex-direction: column;
}

.footer__link {
    color: white;
    font-size: 14px;
    font-weight: 500;
    position: relative;
}

.footer__link--list-item {
    margin-bottom: 16px;
}

.footer__horiz-line {
    margin-top: 40px;
    margin-bottom: 60px;
    opacity: 0.3;
}

.footer__info {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo--img {
    width: 30px;
    height: 30px;
}

.footer__logo--text {
    font-weight: 900;
    margin-left: 10px;
    font-size: 20px;
    letter-spacing: 0.6px;
}

.footer__copyright {
    opacity: 0.85
}

.social__links {
    display: flex;
    margin-bottom: 80px;
}

.footer__link:after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    bottom: -3px;
    right: 0;
    opacity: 0;
    transition: all 300ms ease;
}

.footer__link:hover:after {
    opacity: 1;
    height: 2px
}

.footer__social--svg {
    height: 30px;
    color: black;
    margin-left: 20px;
    padding: 5px;
    border-radius: 9999px;
    background-color: white;
    transition: all 300ms ease;
}

.footer__social--svg:hover {
    opacity: 0.8;
}

@media (max-width: 1023px) {
    .about {
        flex-direction: column;
        height: 100%;
        margin: 0 200px;
        justify-content: center;
        text-align: center;
    }

    .about__description {
        width: 100%;
    }

    .about__img--wrapper {
        width: 100%;
    }

    .about__description--title {
        font-size: 30px;
    }

    .about__input {
        margin-left: 50px;
    }

    .about__description--text {
        margin: 25px 0;
    }

    .trusted-customers {
        margin-top: 60px;
    }

    .trusted-customers__text {
        font-size: 14px;
    }

    .trusted-customers__img {
        padding-right: 0;
    }

    .nav__links {
        display: none;
    }
}